<h2>Add an Answer</h2>

<form>
  {{input type="text" placeholder="Answer" class="form-control text-font" value=answer}}
<br>
  {{input type="text" placeholder="Author" class="form-control text-font" value=author}}

<br>
    <button class="btn btn-default float-right" {{action 'addAnswer'}}>Submit</button>
</form>
